.img{
    height: 100px;
    width: 100px;
}

.img-selected {
    background-color: white;
}

.img-gallery {
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 1px solid;
}
#bigImage img{
	margin-left: 20%;
	height: 600px;
	width: 600px;
}

#thumbnails {
	margin-left: 20%;
}